<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TCGStory</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/game.css">
    <script src="/scripts/game.js"  defer ></script>


</head>
<header>
    <nav class="headerNav">
        <ul class="ulNav">
            <a href="/"><li>Home</li></a>
            <a href="/lore"><li>Lore</li></a>
            <a href="/plateau"><li>Plateau</li></a>
            <a href="/regles"><li>Mécanique de Jeu</li></a>
            <a href="/citees"><li>Cités</li></a>
            <a href="/cartes"><li>Les cartes</li></a>
            <a href="/start"><li>Launch Game</li></a>

        </ul>
    </nav>
</header>

