
<body>
    <%- include('./partials/header')  %>
    <main class="mainContainer">
        <%- include('./partials/formCards') %>
    </main>
            <section class="grid">
                <div class="grid-lore">
                    <h3>Lore</h3>

                    <a href="/lore"><img src="images/lore.jpg" alt=""></a>
                </div>
                <div class="grid-cites">
                    <h3>Les cités</h3>

                    <img src="images/cites.jpg" alt="">
                </div>
                <div class="grid-cartes">
                    <h3>Les cartes</h3>

                    <img src="images/cards.jpg" alt="">
                </div>
                <div class="grid-cartes">
                    <h3>Plateau et règles</h3>

                    <img src="images/plateau.png" alt="">
                </div>
                <div class="grid-cartes">
                    <h3>Mécaniques de jeu</h3>

                    <img src="images/cards.jpg" alt="">
                </div>
                <div class="grid-cartes">
                    <h3>Base de données</h3>

                    <img src="images/lore.jpg" alt="">
                </div>
            </section>
</body>
</html>